body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    font-family: "Quicksand",
        sans-serif;
    font-size: 62.5%;
    font-size: 10px;

    a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}

.container-header {
    padding: 0;
    margin: 0;
    width: 100%;
}

/*--------------------------------------------------------------
# Nav Header
--------------------------------------------------------------*/
.nav-header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    line-height: 8.8rem;
    height: 8.8rem;
    z-index: 9999;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.134178);

    .logo {
        float: left;
        height: auto;
        width: auto;
        padding-left: 3rem;

        a {
            color: #ffffff;

            span {
                font-size: 1.6rem;
                font-weight: 550;
                margin-left: 1rem;
            }
        }
    }

    .main-list {
        float: right;
        height: auto;
        width: auto;
        padding-right: 1rem;

        ul {
            list-style-type: none;
            display: flex;

            li {
                font-size: 1.4rem;
                color: #BEC1E0;
                font-style: normal;
                font-weight: normal;
                letter-spacing: .02rem;
                margin: 0 2rem;

                &:hover {
                    color: #EB0065;
                }
            }
        }
    }
}

.backgroud-trans {
    background-color: #1c2266;
    border: none;
}

/*--------------------------------------------------------------
# Hero Home
--------------------------------------------------------------*/
.hero-home {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 135vh;
    background-image: url("/assets/image/header-background.svg");
    background-position: top;
    background-size: cover;

    .hero-left {
        height: 100vh;
        align-items: flex-start;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h2 {
            font-weight: 500;
            font-size: 3.2rem;
            line-height: 4.8rem;
            font-style: normal;
            letter-spacing: 0.02rem;
            color: #ffffff;
        }

        p {
            margin-top: 3rem;
            color: #BEC1E0;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        }

        .buttons {
            margin-top: 3rem;

            button {
                font-size: 1.6rem;
                line-height: 2.4rem;
                text-align: center;
                height: 4.8rem;
                width: 20rem;
                margin-right: 2rem;
                border-radius: 0.8rem;
                border: none;

                i {
                    margin-left: 2rem;
                    font-size: 1.8rem;
                }
            }

            .button-left {
                background-color: #EB0065;
                color: #ffffff;

                &:hover {
                    background-color: transparent;
                    color: #ffffff;
                    border: 0.1rem solid #ffffff;
                }
            }

            .button-right {
                background-color: transparent;
                color: #ffffff;
                border: 0.1rem solid #ffffff;

                &:hover {
                    background-color: #EB0065;
                    color: #ffffff;

                }
            }

        }
    }

    .hero-right {
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .status-hero {
        margin-top: 7rem;
        display: flex;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(190, 193, 224, 0.320039);
        border-radius: 10px;
        height: 15rem;

        .item-status-hero {
            margin: 2rem;
            align-items: center;
            width: 100%;
            padding: 0;

            i {
                font-size: 5rem;
                float: left;
                line-height: 6rem;
                display: block;
            }

            span {
                margin-top: .8rem;
                display: block;
                margin-left: 6rem;
                color: #6468A1;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
            }

            h2 {
                display: block;
                margin-left: 6rem;
                margin-bottom: 0;
                color:#262C7C;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 40px;
            }
        }

        .overview i{
                color: #7ADB00;
        }
        .cases i{
            color:#FF3E29;
        }
        .recovered i{
            color: #00DB75;
        }
        .deaths i{
            color: #3D3F52;
        }
    }
}