body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
  background-color: #F2F3F7;
}
body a,
html a {
  color: #ffffff;
  text-decoration: none;
}
body a:hover,
html a:hover {
  text-decoration: none;
}

.container-header {
  padding: 0;
  margin: 0;
  width: 100%;
}

/*--------------------------------------------------------------
# Nav Header
--------------------------------------------------------------*/
.nav-header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  line-height: 8.8rem;
  height: 8.8rem;
  z-index: 9999;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.134178);
}
.nav-header .logo {
  float: left;
  height: auto;
  width: auto;
  padding-left: 3rem;
}
.nav-header .logo a {
  color: #ffffff;
}
.nav-header .logo a span {
  font-size: 1.6rem;
  font-weight: 550;
  margin-left: 1rem;
}
.nav-header .main-list {
  float: right;
  height: auto;
  width: auto;
  padding-right: 1rem;
}
.nav-header .main-list ul {
  list-style-type: none;
  display: flex;
}
.nav-header .main-list ul li {
  font-size: 1.4rem;
  color: #BEC1E0;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02rem;
  margin: 0 2rem;
}
.nav-header .main-list ul li:hover {
  color: #EB0065;
}

.backgroud-trans {
  background-color: #1c2266;
  border: none;
}

/*--------------------------------------------------------------
# Hero Home
--------------------------------------------------------------*/
.hero-home {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 110vh;
  background-image: url("../image/header-background.svg");
  background-position: top;
  background-size: cover;
}
.hero-home .hero-left {
  height: 100vh;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-home .hero-left h2 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-style: normal;
  letter-spacing: 0.02rem;
  color: #ffffff;
}
.hero-home .hero-left p {
  margin-top: 3rem;
  color: #BEC1E0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.hero-home .hero-left .buttons {
  margin-top: 3rem;
}
.hero-home .hero-left .buttons button {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  height: 4.8rem;
  width: 20rem;
  margin-right: 2rem;
  border-radius: 0.8rem;
  border: none;
}
.hero-home .hero-left .buttons button i {
  margin-left: 2rem;
  font-size: 1.8rem;
}
.hero-home .hero-left .buttons .button-left {
  background-color: #EB0065;
  color: #ffffff;
}
.hero-home .hero-left .buttons .button-left:hover {
  background-color: transparent;
  color: #ffffff;
  border: 0.1rem solid #ffffff;
}
.hero-home .hero-left .buttons .button-right {
  background-color: transparent;
  color: #ffffff;
  border: 0.1rem solid #ffffff;
}
.hero-home .hero-left .buttons .button-right:hover {
  background-color: #EB0065;
  color: #ffffff;
}
.hero-home .hero-right {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

/*--------------------------------------------------------------
# Status Hero
--------------------------------------------------------------*/
.status-hero {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 0.4rem 0.8rem rgba(190, 193, 224, 0.320039);
  border-radius: 1rem;
  height: 15rem;
  margin: -5rem 20rem 5rem 20rem;
}
.status-hero .item-status-hero {
  margin: 2rem;
  align-items: center;
  width: 100%;
  padding: 0;
}
.status-hero .item-status-hero i {
  font-size: 5rem;
  float: left;
  line-height: 6rem;
  display: block;
}
.status-hero .item-status-hero span {
  margin-top: 0.8rem;
  display: block;
  margin-left: 6rem;
  color: #6468A1;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.status-hero .item-status-hero h2 {
  display: block;
  margin-left: 6rem;
  margin-bottom: 0;
  color: #262C7C;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 4rem;
}
.status-hero .overview i {
  color: #7ADB00;
}
.status-hero .cases i {
  color: #FF3E29;
}
.status-hero .recovered i {
  color: #00DB75;
}
.status-hero .deaths i {
  color: #3D3F52;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
.dashboard {
  margin: 0 20rem;
}
.dashboard .dashboard-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.dashboard .dashboard-container .row-items {
  background: #FFFFFF;
  box-shadow: 0 0.4rem 0.8rem rgba(190, 193, 224, 0.320039);
  border-radius: 1rem;
  padding: 2rem 0;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left .description-map {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.8rem 0;
}
.left .description-map h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  color: #2D2E39;
}
.left .description-map .items {
  display: flex;
}
.left .description-map .items div {
  margin-left: 1rem;
}
.left .description-map .items div span {
  font-size: 1.4rem;
  color: #6468A1;
  margin-right: 1rem;
}
.left .description-map .items div i {
  font-size: 1.6rem;
}
.left #vmap {
  width: 90%;
  height: 44rem;
  border-radius: 1rem;
}

.right {
  width: 35%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right > * {
  width: 90%;
  height: 2.8em;
  border-radius: 0.5rem;
  margin: 1rem 0;
}
.right #find-location {
  width: 90%;
  height: 2.8em;
}
.right #global-status {
  background-color: #FFFFFF;
  border: 1px #262C7C solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.right .item {
  background-color: #F2F3F7;
  height: 2.8em;
  border-radius: 0.5rem;
  margin: 1rem 0;
}